<h1>HAMBERDERS</h1>

<h2>Create a burger</h2>
<input type="text" id="burger">
<button id="addBurger">Order</button>

<h2>BURGERS I AIN'T EATEN!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devours=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>BURGERS I EATEN!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devours=false}}
    {{/if}}
  {{/each}}
</ul>
